/*
	Author: Antopower
	Date: 10/07/2016
*/

/* Import */
@import 'variables';
@import 'theme';

/********
	Basic layout
*********/
div#container {
	height: 100vh;
}
div#sidebar {
	width: 250px;
	float: left;
	background: #222222;
	height: 100%;
	overflow-y: auto;
}
div#content {
	width: calc(100% - 250px);
	float: right;
	padding: 10px 5px;
	height: 100%;
	overflow-y: auto;
	background-color: #fbfbfb;
}

/********
	Sidebar
*********/
.sidebar-nav {
	padding: 0;
}
.sidebar-nav li {
	list-style: none;
}
.sidebar-nav li:hover {
	background: #191919;
}
.sidebar-nav a {
	padding: 20px 10px 20px 20px;
	color: #bdbdbd;
	display: block;
	text-decoration: none;
}
.sidebar-logo img {
	height: 50px;
}


